.h-wrapper{
    background: var(--black);
    color: white;
}

.container{
    gap: 20rem;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: (--secondary)
}

.h-menu{   
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
} 